.sidebar-box{
    width: 73px;
    height: 680px;
    background: #333333 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.line{
    height: 1px;
    width: 22px;
    background-color: #98A0AC;
}

.sidebar-box img{
width: 24px;
height: 24px;
opacity: 1;
}

.sidebar-arrow{
    margin-top: 35px;
}

.sidebar-toggle {
    left:73px ;
    position: absolute;    
    height: 680px;      
    width: 230px;       
    background-color: #333333; 
    z-index: 9999;     
    display: none;             
}

.sidebar-name{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 14px;
}

.sidebar-name p{
    color: #98A0AC;
}
